# Flask, para SECRET_KEY use openssl rand -hex 24
FLASK_APP=tauro.app
FLASK_DEBUG=1
SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Base de datos
DB_NAME=pjecz_tauro
DB_PASS=XXXXXXXXXXXXXXXX
DB_USER=adminpjecztauro
DB_HOST=127.0.0.1
DB_PORT=5432
SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://adminpjecztauro:XXXXXXXXXXXXXXXX@127.0.0.1:5432/pjecz_tauro"

# Host se usa por CORS en la API
HOST=http://127.0.0.1:5000

# Salt sirve para cifrar el ID con HashID, debe ser igual en la API
SALT=XXXXXXXXXXXXXXXX

# Huso horario
TZ=America/Mexico_City

# Límite de registros mostrados en el listado de turno
LIMITE_DE_TURNOS_LISTADOS=10

# Si esta en PRODUCTION se evita reiniciar la base de datos
ENVIRONMENT=developent

# Prefix para utilizar con otros sistemas. La variable ENVIRONMENT debe ser igual a: PRODUCTION
PREFIX=/admin