{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Turno Estado {{ turno_estado.id | string }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Turno Estado ' + turno_estado.id | string) %}
        {{ topbar.button_previous('Turnos Estados', url_for('turnos_estados.list_active')) }}
        {% if current_user.can_edit('TURNOS ESTADOS') %}
            {{ topbar.button_edit('Editar', url_for('turnos_estados.edit', turno_estado_id=turno_estado.id)) }}
        {% endif %}
        {% if current_user.can_admin('TURNOS ESTADOS') %}
            {% if turno_estado.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('turnos_estados.delete', turno_estado_id=turno_estado.id)) }}{% endif %}
            {% if turno_estado.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('turnos_estados.recover', turno_estado_id=turno_estado.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=turno_estado.estatus) %}
        {{ detail.label_value_big('ID', turno_estado.id) }}
        {{ detail.label_value('Nombre', turno_estado.nombre) }}
        {{ detail.label_value_boolean('Activo', turno_estado.es_activo) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('TURNOS ESTADOS') %}
        {% if turno_estado.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar Turno Estado?') }}{% endif %}
        {% if turno_estado.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar Turno Estado?') }}{% endif %}
    {% endif %}
{% endblock %}
