{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Turno Estado {{ turno_estado.nombre }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + turno_estado.nombre) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'turno_estado_id': turno_estado.id} %}
        {% call f.form_tag('turnos_estados.edit', fid='turno_estado_form', **form_kwargs) %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.es_activo) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
