{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/list.jinja2' as list %}

{% block title %}Ubicacion {{ ubicacion.nombre }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Ubicacion ' + ubicacion.nombre + ' ' + ubicacion.numero | string ) %}
        {{ topbar.button_previous('Ubicaciones', url_for('ubicaciones.list_active')) }}
        {% if current_user.can_edit('UBICACIONES') %}
            {{ topbar.button_edit('Editar', url_for('ubicaciones.edit', ubicacion_id=ubicacion.id)) }}
        {% endif %}
        {% if current_user.can_admin('UBICACIONES') %}
            {% if ubicacion.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('ubicaciones.delete', ubicacion_id=ubicacion.id)) }}{% endif %}
            {% if ubicacion.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('ubicaciones.recover', ubicacion_id=ubicacion.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=ubicacion.estatus) %}
        {{ detail.label_value('Nombre', ubicacion.nombre) }}
        {{ detail.label_value('Número', ubicacion.numero) }}
        {{ detail.label_value_boolean('Está Activa', ubicacion.es_activo) }}
    {% endcall %}
    {# Card de listado de unidades-ubicaciones #}
    {% call detail.card('Unidades-Ubicaciones') %}
        <!-- DataTable unidadesUbicaciones -->
        <table id="unidades_ubicaciones_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Unidad</th>
                    <th>Activo</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('UBICACIONES') %}
        {% if ubicacion.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar la ubicacion ' + ubicacion.nombre + '?') }}{% endif %}
        {% if ubicacion.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar la ubicacion ' + ubicacion.nombre + '?') }}{% endif %}
    {% endif %}
    {# Carga de listados #}
    <script src="{{ url_for('static', filename='js/datatables-constructor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables-filtros.js') }}"></script>
    {# DataTable unidadesUbicaciones #}
    <script>
        // DataTable unidadesUbicaciones
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDataTable = constructorDataTable.config();
        configDataTable['ajax']['url'] = '{{ url_for("unidades_ubicaciones.datatable_json") }}';
        configDataTable['ajax']['data'] = {'estatus': 'A', 'ubicacion_id': {{ ubicacion.id }}};
        configDataTable['columns'] = [
            { data: 'id' },
            { data: 'unidad' },
            { data: 'es_activo' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 1, // unidad
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.nombre + '</a>';
                }
            },
            {
                targets: 2, // es_activo
                data: null,
                render: function(data, type, row, meta) {
                    if (data) {
                        return '<span class="iconify" data-icon="mdi:checkbox-marked" style="font-size: 1.4em"></span>';
                    }
                    return '<span class="iconify text-secondary" data-icon="mdi:checkbox-blank-outline" style="font-size: 1.4em"></span>';
                }
            }
        ];
        const filtrosUnidadesUbicaciones = new FiltrosDataTable('#unidades_ubicaciones_datatable', configDataTable);
        filtrosUnidadesUbicaciones.precargar();
    </script>
{% endblock %}
