{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Ubicacion {{ ubicacion.nombre }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + ubicacion.nombre) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'ubicacion_id': ubicacion.id} %}
        {% call f.form_tag('ubicaciones.edit', fid='ubicacion_form', **form_kwargs) %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.numero) %}{% endcall %}
            {% call f.form_group(form.es_activo) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
