{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/list.jinja2' as list %}

{% block title %}Ventanilla {{ ventanilla.nombre }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Ventanilla ' + ventanilla.nombre + ' ' + ventanilla.numero | string ) %}
        {{ topbar.button_previous('Ventanillas', url_for('ventanillas.list_active')) }}
        {% if current_user.can_edit('VENTANILLAS') %}
            {{ topbar.button_edit('Editar', url_for('ventanillas.edit', ventanilla_id=ventanilla.id)) }}
        {% endif %}
        {% if current_user.can_admin('VENTANILLAS') %}
            {% if ventanilla.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('ventanillas.delete', ventanilla_id=ventanilla.id)) }}{% endif %}
            {% if ventanilla.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('ventanillas.recover', ventanilla_id=ventanilla.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=ventanilla.estatus) %}
        {{ detail.label_value('Nombre', ventanilla.nombre) }}
        {{ detail.label_value('Número', ventanilla.numero) }}
        {{ detail.label_value_boolean('Está Activa', ventanilla.es_activo) }}
    {% endcall %}
    {# Card de listado de unidades-ventanillas #}
    {% call detail.card('Unidades-Ventanillas') %}
        <!-- DataTable unidadesVentanillas -->
        <table id="unidades_ventanillas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Unidad</th>
                    <th>Activo</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('VENTANILLAS') %}
        {% if ventanilla.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar la ventanilla ' + ventanilla.nombre + '?') }}{% endif %}
        {% if ventanilla.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar la ventanilla ' + ventanilla.nombre + '?') }}{% endif %}
    {% endif %}
    {# Carga de listados #}
    <script src="{{ url_for('static', filename='js/datatables-constructor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables-filtros.js') }}"></script>
    {# DataTable unidadesVentanillas #}
    <script>
        // DataTable unidadesVentanillas
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDataTable = constructorDataTable.config();
        configDataTable['ajax']['url'] = '{{ url_for("unidades_ventanillas.datatable_json") }}';
        configDataTable['ajax']['data'] = {'estatus': 'A', 'ventanilla_id': {{ ventanilla.id }}};
        configDataTable['columns'] = [
            { data: 'id' },
            { data: 'unidad' },
            { data: 'es_activo' }
        ];
        configDataTable['columnDefs'] = [
            {
                targets: 1, // unidad
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.nombre + '</a>';
                }
            },
            {
                targets: 2, // es_activo
                data: null,
                render: function(data, type, row, meta) {
                    if (data) {
                        return '<span class="iconify" data-icon="mdi:checkbox-marked" style="font-size: 1.4em"></span>';
                    }
                    return '<span class="iconify text-secondary" data-icon="mdi:checkbox-blank-outline" style="font-size: 1.4em"></span>';
                }
            }
        ];
        const filtrosUnidadesVentanillas = new FiltrosDataTable('#unidades_ventanillas_datatable', configDataTable);
        filtrosUnidadesVentanillas.precargar();
    </script>
{% endblock %}
