{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Ventanilla {{ ventanilla.clave }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Ventanilla ' + ventanilla.clave) %}
        {{ topbar.button_previous('Ventanillas', url_for('ventanillas.list_active')) }}
        {% if current_user.can_edit('VENTANILLAS') %}
            {{ topbar.button_edit('Editar', url_for('ventanillas.edit', ventanilla_id=ventanilla.id)) }}
        {% endif %}
        {% if current_user.can_admin('VENTANILLAS') %}
            {% if ventanilla.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('ventanillas.delete', ventanilla_id=ventanilla.id)) }}{% endif %}
            {% if ventanilla.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('ventanillas.recover', ventanilla_id=ventanilla.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=ventanilla.estatus) %}
        {{ detail.label_value_big('Clave', ventanilla.clave) }}
        {{ detail.label_value('Unidad', ventanilla.unidad.clave_nombre, url_for("unidades.detail", unidad_id=ventanilla.unidad.id)) }}
        {{ detail.label_value('Descripción', ventanilla.descripcion) }}
        {{ detail.label_value('Está Habilitada', ventanilla.es_habilitada) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('VENTANILLAS') %}
        {% if ventanilla.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar la ventanilla ' + ventanilla.clave + '?') }}{% endif %}
        {% if ventanilla.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar la ventanilla ' + ventanilla.clave + '?') }}{% endif %}
    {% endif %}
{% endblock %}
