{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Ventanilla {{ ventanilla.clave }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + ventanilla.clave) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'ventanilla_id': ventanilla.id} %}
        {% call f.form_tag('ventanillas.edit', fid='ventanilla_form', **form_kwargs) %}
            {% call f.form_group(form.clave) %}{% endcall %}
            {% call f.form_group(form.unidad) %}{% endcall %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.es_habilitada) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
