{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Turno {{ turno.numero | string }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Turno ' + turno.numero | string) %}
        {{ topbar.button_previous('Turnos', url_for('turnos.list_active')) }}
        {% if current_user.can_edit('TURNOS') %}
            {# {{ topbar.button_edit('Editar', url_for('turnos.edit', turno_id=turno.id)) }} #}
        {% endif %}
        {% if current_user.can_admin('TURNOS') %}
            {% if turno.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('turnos.delete', turno_id=turno.id)) }}{% endif %}
            {% if turno.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('turnos.recover', turno_id=turno.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=turno.estatus) %}
        {{ detail.label_value_big('Número', turno.numero) }}
        {{ detail.label_value('ID', turno.id) }}
        {{ detail.label_value('Usuario', turno.usuario.nombre, url_for("usuarios.detail", usuario_id=turno.usuario.id)) }}
        {{ detail.label_value('Tipo', turno.turno_tipo.nombre) }}
        {{ detail.label_value('Unidad', unidades[turno.unidad_id].clave_nombre, url_for("unidades.detail", unidad_id=turno.unidad_id)) }}
        {{ detail.label_value('Ventanilla', turno.ventanilla.nombre_numero, url_for("ventanillas.detail", ventanilla_id=turno.ventanilla.id)) }}
        {{ detail.label_value('Inicio', moment(turno.inicio, local=False).format('DD MMM YYYY HH:mm')) }}
        {{ detail.label_value('Término', moment(turno.termino, local=False).format('DD MMM YYYY HH:mm')) }}
        {{ detail.label_value('Estado', turno.turno_estado.nombre) }}
        {{ detail.label_value('Comentarios', turno.comentarios) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('TURNOS') %}
        {% if turno.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + turno.numero | string + '?') }}{% endif %}
        {% if turno.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + turno.numero | string + '?') }}{% endif %}
    {% endif %}
{% endblock %}
