{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo API Key{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo API Key') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('api_keys.new', fid='api_key_form') %}
            {% call f.form_group(form.api_key) %}{% endcall %}
            {% call f.form_group(form.api_key_expiracion) %}{% endcall %}
            {% call f.form_group(form.es_activo) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
