{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Turno Tipo {{ turno_tipo.id | string }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Turno Tipo ' + turno_tipo.id | string) %}
        {{ topbar.button_previous('Turnos Tipos', url_for('turnos_tipos.list_active')) }}
        {% if current_user.can_edit('TURNOS TIPOS') %}
            {{ topbar.button_edit('Editar', url_for('turnos_tipos.edit', turno_tipo_id=turno_tipo.id)) }}
        {% endif %}
        {% if current_user.can_admin('TURNOS TIPOS') %}
            {% if turno_tipo.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('turnos_tipos.delete', turno_tipo_id=turno_tipo.id)) }}{% endif %}
            {% if turno_tipo.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('turnos_tipos.recover', turno_tipo_id=turno_tipo.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=turno_tipo.estatus) %}
        {{ detail.label_value_big('Id', turno_tipo.id) }}
        {{ detail.label_value('Nombre', turno_tipo.nombre) }}
        {{ detail.label_value('Nivel', turno_tipo.nivel) }}
        {{ detail.label_value('Activo', turno_tipo.es_activo) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('TURNOS TIPOS') %}
        {% if turno_tipo.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar Turno Activo?') }}{% endif %}
        {% if turno_tipo.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar Turno Activo?') }}{% endif %}
    {% endif %}
{% endblock %}
