{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Turno Tipo{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Turno Tipo') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('turnos_tipos.new', fid='turno_tipo_form') %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.es_activo) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
