{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/list.jinja2' as list %}

{% block title %}Unidad {{ unidad.clave }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Unidad ' + unidad.clave) %}
        {{ topbar.button_previous('Unidades', url_for('unidades.list_active')) }}
        {% if current_user.can_edit('UNIDADES') %}
            {{ topbar.button_edit('Editar', url_for('unidades.edit', unidad_id=unidad.id)) }}
        {% endif %}
        {% if current_user.can_admin('UNIDADES') %}
            {% if unidad.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('unidades.delete', unidad_id=unidad.id)) }}{% endif %}
            {% if unidad.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('unidades.recover', unidad_id=unidad.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=unidad.estatus) %}
        {{ detail.label_value_big('Clave', unidad.clave) }}
        {{ detail.label_value('Nombre', unidad.nombre) }}
        {{ detail.label_value_boolean('Activo', unidad.es_activo) }}
    {% endcall %}
    {# Listado de Usuarios #}
    {% call detail.card(title='Usuarios') %}
        <!-- Filtros usuarios -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosDTUsuarios.buscar(); return false;">
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroEMail" type="text" class="form-control" aria-label="Correo electrónico">
                            <label for="filtroEMail">Correo electrónico</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroNombres" type="text" class="form-control" aria-label="Nombres" style="text-transform: uppercase;">
                            <label for="filtroNombres">Nombres</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <input id="filtroApellidoPaterno" type="text" class="form-control" aria-label="Apellido paterno" style="text-transform: uppercase;">
                            <label for="filtroApellidoPaterno">Apellido paterno</label>
                        </div>
                    </div>
                    <div class="col-3 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosDTUsuarios.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosDTUsuarios.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Datatable usuarios -->
        <table id="usuarios_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Correo electrónico</th>
                    <th>Nombre completo</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
    {# Listado de Unidades-Ubicaciones #}
    {% call detail.card(title='Unidades-Ubicaciones') %}
        <!-- DataTable unidadesUbicaciones -->
        <table id="unidades_ubicaciones_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ubicacion</th>
                    <th>Activo</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('UNIDADES') %}
        {% if unidad.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + unidad.clave + '?') }}{% endif %}
        {% if unidad.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + unidad.clave + '?') }}{% endif %}
    {% endif %}
    {# Listados dinámicos #}
    <script src="{{ url_for('static', filename='js/datatables-constructor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables-filtros.js') }}"></script>
    {# Listado de Usuarios #}
    <script>
        // DataTable usuarios
        const constructorDataTableUsuarios = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTUsuarios = constructorDataTableUsuarios.config();
        configDTUsuarios['ajax']['url'] = '{{ url_for("usuarios.datatable_json") }}';
        configDTUsuarios['ajax']['data'] = { 'estatus': 'A', 'unidad_id': '{{unidad.id}}' };
        configDTUsuarios['columns'] = [
            { data: "detalle" },
            { data: "nombre" }
        ];
        configDTUsuarios['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.email + '</a>';
                }
            },
            {
                targets: 1, // nombre
                data: null,
                render: function(data, type, row, meta) {
                    if (data.length > 24) {
                        return '<span title="' + data + '">' + data.substring(0, 24) + '…</span>';
                    }
                    return data;
                }
            }
        ];
        // Filtros usuarios
        const filtrosDTUsuarios = new FiltrosDataTable('#usuarios_datatable', configDTUsuarios);
        filtrosDTUsuarios.agregarInput('filtroEMail', 'email');
        filtrosDTUsuarios.agregarInput('filtroNombres', 'nombres');
        filtrosDTUsuarios.agregarInput('filtroApellidoPaterno', 'apellido_paterno');
        filtrosDTUsuarios.precargar();
    </script>
    {# DataTable unidadesUbicaciones #}
    <script>
        // DataTable unidadesUbicaciones
        const constructorDataTableUV = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDataTableUV = constructorDataTableUV.config();
        configDataTableUV['ajax']['url'] = '{{ url_for("unidades_ubicaciones.datatable_json") }}';
        configDataTableUV['ajax']['data'] = {'estatus': 'A', 'unidad_id': {{ unidad.id }}};
        configDataTableUV['columns'] = [
            { data: 'id' },
            { data: 'ubicacion' },
            { data: 'es_activo' }
        ];
        configDataTableUV['columnDefs'] = [
            {
                targets: 1, // ubicacion
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.nombre + '</a>';
                }
            },
            {
                targets: 2, // es_activo
                data: null,
                render: function(data, type, row, meta) {
                    if (data) {
                        return '<span class="iconify" data-icon="mdi:checkbox-marked" style="font-size: 1.4em"></span>';
                    }
                    return '<span class="iconify text-secondary" data-icon="mdi:checkbox-blank-outline" style="font-size: 1.4em"></span>';
                }
            }
        ];
        const filtrosUnidadesUbicaciones = new FiltrosDataTable('#unidades_ubicaciones_datatable', configDataTableUV);
        filtrosUnidadesUbicaciones.precargar();
    </script>
{% endblock %}
